<div class="item">
  <h1><%= item.name %></h3>

  <div class='item-head'></div>

  <p>description: <%= item.description %></p>
  <p>price: $<%= item.price %></p>
  <p>post date: <%= item.post_date %></p>
  <p>seller: <%= item.seller.name %></p>

  <%= link_to 'Back to items', items_path, class: "btn btn-outline-info item-btn" %>
</div>